doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Магазин кофе

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet")

        link(rel="icon" href="../Favicon.png" type="image/x-icon")

        style
            include style/smartbasket.min.css
            include style/dist/style.css
    body
        div.wrapper
            include modules/header
            section.catalog-coffee.container
                .catalog-coffee__body
                    h2.catalog-coffe__title.title-white Здоровое питание
                    .catalog-coffee__image
                        img(src="../img/healthy-eating/porridge.png", alt="Каша")
            section.healthy-eating.container
                .healthy-eating__body
                    .healthy-eating__drink
                        .healthy-eating__drink-row.drink-row-1
                            .healthy-eating__drink-image
                                img(src="../img/healthy-eating/image-11.png", alt="Цикорий и корень цикория")
                            .healthy-eating__drink-title Цикорий и корень цикория

                        .healthy-eating__drink-row.drink-row-2
                            .healthy-eating__drink-image
                                img(src="../img/healthy-eating/image-11.png", alt="Ячменные напитки")
                            .healthy-eating__drink-title Ячменные напитки

                        .healthy-eating__drink-row.drink-row-3
                            .healthy-eating__drink-image
                                img(src="../img/healthy-eating/image-11.png", alt="Напитки для здоровья")
                            .healthy-eating__drink-title Напитки для здоровья

                        .healthy-eating__drink-row.drink-row-4
                            .healthy-eating__drink-image
                                img(src="../img/healthy-eating/image-11.png", alt="Протеиновые смеси")
                            .healthy-eating__drink-title Протеиновые смеси

                        .healthy-eating__drink-row.drink-row-5
                            .healthy-eating__drink-image
                                img(src="../img/healthy-eating/image-11.png", alt="Толокняные каши")
                            .healthy-eating__drink-title Толокняные каши
            section.catalog-tea__products.container
                .catalog-tea__products_body
                    .catalog-tea__products_row
                        //Первая карточка
                        .items-sale__item
                            .items-sale__item-item
                                .items-tea__item-offer
                                    .items-tea__offer
                                        .items-tea__offer-star
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star.png", alt="Звезда")
                                        p.items-tea__offer-text 4.0 
                                    p.items-tea__item-gram 100 г.
                                .items-tea__offer-image
                                    img(src="../img/healthy-eating/image-11.png", alt="Продукт")
                                p.items-tea__item-name Наименование товара
                                p.items-tea__item-description Черный чай
                                .items-tea__item-price
                                    p.tea-price 250 ₽
                                    //.tea-button
                                        a(href="#").sale-btn В корзину


                            div.card__button-add
                                div.product__quantity.card-amount
                                button(data-sb-id-or-vendor-code="01"
                                    data-sb-product-name="Наименование товара"
                                    data-sb-product-price='250'
                                    data-sb-product-quantity='1'
                                    data-sb-product-img="../img/header/product.png" href="").card__button-add.card__button В корзину



                        //Вторая карточка
                        .items-sale__item
                            .items-sale__item-item
                                .items-tea__item-offer
                                    .items-tea__offer
                                        .items-tea__offer-star
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star.png", alt="Звезда")
                                        p.items-tea__offer-text 4.0 
                                    p.items-tea__item-gram 100 г.
                                .items-tea__offer-image
                                    img(src="../img/healthy-eating/image-11.png", alt="Продукт")
                                p.items-tea__item-name Наименование товара
                                p.items-tea__item-description Черный чай
                                .items-tea__item-price
                                    p.tea-price 250 ₽
                                    //.tea-button
                                        a(href="#").sale-btn В корзину

                            div.card__button-add
                                div.product__quantity.card-amount
                                button(data-sb-id-or-vendor-code="02"
                                    data-sb-product-name="Наименование товара"
                                    data-sb-product-price='250'
                                    data-sb-product-quantity='1'
                                    data-sb-product-img="../img/header/product.png" href="").card__button-add.card__button В корзину



                        //Третья карточка
                        .items-sale__item
                            .items-sale__item-item
                                .items-tea__item-offer
                                    .items-tea__offer
                                        .items-tea__offer-star
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star.png", alt="Звезда")
                                        p.items-tea__offer-text 4.0 
                                    p.items-tea__item-gram 100 г.
                                .items-tea__offer-image
                                    img(src="../img/healthy-eating/image-11.png", alt="Продукт")
                                p.items-tea__item-name Наименование товара
                                p.items-tea__item-description Черный чай
                                .items-tea__item-price
                                    p.tea-price 250 ₽
                                    //.tea-button
                                        a(href="#").sale-btn В корзину

                            div.card__button-add
                                div.product__quantity.card-amount
                                button(data-sb-id-or-vendor-code="03"
                                    data-sb-product-name="Наименование товара"
                                    data-sb-product-price='250'
                                    data-sb-product-quantity='1'
                                    data-sb-product-img="../img/header/product.png" href="").card__button-add.card__button В корзину


                        //Четвертая карточка
                        .items-sale__item
                            .items-sale__item-item
                                .items-tea__item-offer
                                    .items-tea__offer
                                        .items-tea__offer-star
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star.png", alt="Звезда")
                                        p.items-tea__offer-text 4.0 
                                    p.items-tea__item-gram 100 г.
                                .items-tea__offer-image
                                    img(src="../img/healthy-eating/image-11.png", alt="Продукт")
                                p.items-tea__item-name Наименование товара
                                p.items-tea__item-description Черный чай
                                .items-tea__item-price
                                    p.tea-price 250 ₽
                                    //.tea-button
                                        a(href="#").sale-btn В корзину

                            div.card__button-add
                                div.product__quantity.card-amount
                                button(data-sb-id-or-vendor-code="04"
                                    data-sb-product-name="Наименование товара"
                                    data-sb-product-price='250'
                                    data-sb-product-quantity='1'
                                    data-sb-product-img="../img/header/product.png" href="").card__button-add.card__button В корзину

                        //Пятая карточка
                        .items-sale__item
                            .items-sale__item-item
                                .items-tea__item-offer
                                    .items-tea__offer
                                        .items-tea__offer-star
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star.png", alt="Звезда")
                                        p.items-tea__offer-text 4.0 
                                    p.items-tea__item-gram 100 г.
                                .items-tea__offer-image
                                    img(src="../img/healthy-eating/image-11.png", alt="Продукт")
                                p.items-tea__item-name Наименование товара
                                p.items-tea__item-description Черный чай
                                .items-tea__item-price
                                    p.tea-price 250 ₽
                                    //.tea-button
                                        a(href="#").sale-btn В корзину

                            div.card__button-add
                                div.product__quantity.card-amount
                                button(data-sb-id-or-vendor-code="05"
                                    data-sb-product-name="Наименование товара"
                                    data-sb-product-price='250'
                                    data-sb-product-quantity='1'
                                    data-sb-product-img="../img/header/product.png" href="").card__button-add.card__button В корзину

                        //Шестая карточка
                        .items-sale__item
                            .items-sale__item-item
                                .items-tea__item-offer
                                    .items-tea__offer
                                        .items-tea__offer-star
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star-yellow.png", alt="Звезда")
                                            .offer-star.star
                                                img(src="../img/header/Star.png", alt="Звезда")
                                        p.items-tea__offer-text 4.0 
                                    p.items-tea__item-gram 100 г.
                                .items-tea__offer-image
                                    img(src="../img/healthy-eating/image-11.png", alt="Продукт")
                                p.items-tea__item-name Наименование товара
                                p.items-tea__item-description Черный чай
                                .items-tea__item-price
                                    p.tea-price 250 ₽
                                    //.tea-button
                                        a(href="#").sale-btn В корзину

                            div.card__button-add
                                div.product__quantity.card-amount
                                button(data-sb-id-or-vendor-code="06"
                                    data-sb-product-name="Наименование товара"
                                    data-sb-product-price='250'
                                    data-sb-product-quantity='1'
                                    data-sb-product-img="../img/header/product.png" href="").card__button-add.card__button В корзину


            div.smart-basket__wrapper
            section.catalog-subscription.container
                .subscription__body
                    .subscription__body-info
                        h2.subscription__title.title Подписка на новости и рассылку
                        p.subscription__text.text Подпишитесь на нашу рассылку прямо сейчас и будьте в курсе новых поставок, скидок и эксклюзивных предложений.
                        .form
                            form(action="#").form__body
                                input(type="email" name="email" placeholder="Ваш email" required).form__input
                                a(href="#").form__button Подписаться
                    .subscription__body-image
                        img(src="../img/header/coffee.png", alt="Кофе")
            include modules/footer



        script(src="../js/jquery-3.6.1.min.js")
        script(src="../smartbasket/js/smartbasket.min.js")
        script(src="../js/main.js") 

